<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mahenju Web</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
</head>
<body>
    <header class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <!-- Logo and Name -->
            <a href="https://youtube.com/MahenjuWeb" class="flex order-first lg:order-none lg:w-2/5 title-font font-medium items-center text-white lg:items-center lg:justify-center mb-4 md:mb-0">
                <img src="https://i.ibb.co/y42LjdW/p.png" class="w-14 h-14 text-white bg-gray-900" alt="Logo">
                <h1 class="flex items-center px-2 text-3xl font-extrabold text-white dark:text-gray-100">Mahenju<span class="bg-blue-100 text-blue-800 text-3xl font-semibold me-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-2">Web</span></h1>

            </a>

            </div>
        </div>
    </header>

    <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="text-center mb-20">
            <h1 class="sm:text-5xl text-2xl font-extrabold font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-[#9f025e] to-[#f9c929] text-center title-font  mb-4">Use Our Free JEE Tools</h1>
            <p class="text-base leading-relaxed xl:w-2/4 font-bold font-extrabold py-2 text-white lg:w-3/4 mx-auto"><i>JEE over.. But still worried then you have come at the right place. Introducing all the useful tools post JEE at one place.
</i></p>
          </div>
          <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
            <div class="p-2 sm:w-1/2 w-full">
              <div class="bg-gray-800 rounded flex p-4 h-full items-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-green-300 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                  <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                  <path d="M22 4L12 14.01l-3-3"></path>
                </svg>
                <span class="title-font font-bold text-transparent bg-clip-text bg-gradient-to-r from-green-500 to-cyan-500">Rich in Features</span>
              </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
              <div class="bg-gray-800 rounded flex p-4 h-full items-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-green-300 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                  <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                  <path d="M22 4L12 14.01l-3-3"></path>
                </svg>
                <span class="title-font font-bold text-transparent bg-clip-text bg-gradient-to-r from-green-500 to-cyan-500">Free and Better than Most Paid Predictors</span>
              </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
              <div class="bg-gray-800 rounded flex p-4 h-full items-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-green-300 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                  <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                  <path d="M22 4L12 14.01l-3-3"></path>
                </svg>
                <span class="title-font font-bold text-transparent bg-clip-text bg-gradient-to-r from-green-500 to-cyan-500">No Login Required</span>
              </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
              <div class="bg-gray-800 rounded flex p-4 h-full items-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-green-300 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                  <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                  <path d="M22 4L12 14.01l-3-3"></path>
                </svg>
                <span class="title-font font-bold font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-green-500 to-cyan-500">Highly Updated (Based on Last Year's 6th Round of JOSAA Counselling)</span>
              </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
              <div class="bg-gray-800 rounded flex p-4 h-full items-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-green-300 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                  <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                  <path d="M22 4L12 14.01l-3-3"></path>
                </svg>
                <span class="title-font font-bold text-transparent bg-clip-text bg-gradient-to-r from-green-500 to-cyan-500">Limitless (Use Unlimited Times)</span>
              </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
              <div class="bg-gray-800 rounded flex p-4 h-full items-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-green-300 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                  <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                  <path d="M22 4L12 14.01l-3-3"></path>
                </svg>
                <span class="title-font font-bold text-transparent bg-clip-text bg-gradient-to-r from-green-500 to-cyan-500">Highly Organised</span>
              </div>
            </div>
          </div>
          <a href="/landing">
          <button  class="flex mx-auto mt-16 text-white font-bold bg-[#FF0000] border-2 border-[#ffd012] py-2 px-8 focus:outline-none hover:bg-[#ffd012] hover:text-black hover:border-[#ff0000] rounded text-lg">USE COLLEGE PREDICTOR</button>
        </a>
<a href="/landing2">
          <button  class="flex mx-auto mt-16 text-black font-bold bg-[#52f6ff] border-2 border-[#522482] py-2 px-8 focus:outline-none hover:bg-[#522482] hover:text-white hover:border-[#52f6ff] rounded text-lg">USE CUTOFF ANALYSER</button>
        </a>

        <a href="/landing3">
          <button  class="flex mx-auto mt-16 text-[white] font-bold bg-[#c20e6b] border-2 border-[#ff61a3] py-2 px-8 focus:outline-none hover:bg-[#1ac20e] hover:text-white hover:border-[white] rounded text-lg">USE IIT PREDCITOR</button>
        </a>

        <a href="/compare">
          <button  class="flex mx-auto mt-16 text-[white] font-bold bg-[#4f46e5] border-2 border-[#a78bfa] py-2 px-8 focus:outline-none hover:bg-[#a78bfa] hover:text-white hover:border-[#4f46e5] rounded text-lg">COMPARE 2023-2024 DATA</button>
        </a>

        <a href="/improved_ohho">
          <button  class="flex mx-auto mt-16 text-[white] font-bold bg-[#7c3aed] border-2 border-[#c4b5fd] py-2 px-8 focus:outline-none hover:bg-[#c4b5fd] hover:text-[#4c1d95] hover:border-[#7c3aed] rounded text-lg">IMPROVED COLLEGE PREDICTOR</button>
        </a>
        </div>
      </section>
      <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap -m-4 text-center">
            <div class="p-4 sm:w-1/4 w-1/2">
              <h2 class="title-font font-medium sm:text-4xl text-3xl text-white">3K+</h2>
              <p class="leading-relaxed">Site Users</p>
            </div>
            <div class="p-4 sm:w-1/4 w-1/2">
              <h2 class="title-font font-medium sm:text-4xl text-3xl text-white">3.3K</h2>
              <p class="leading-relaxed">Subscribes</p>
            </div>
            <div class="p-4 sm:w-1/4 w-1/2">
              <h2 class="title-font font-medium sm:text-4xl text-3xl text-white">500K+</h2>
              <p class="leading-relaxed">Lifetime YT Views</p>
            </div>
            <div class="p-4 sm:w-1/4 w-1/2">
              <h2 class="title-font font-medium sm:text-4xl text-3xl text-white">1k+</h2>
              <p class="leading-relaxed">Daily Visitors</p>
            </div>
          </div>
        </div>
      </section>

    <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-col">
          <div class="lg:w-4/6 mx-auto">
            <div class="rounded-lg h-64 overflow-hidden">
              <img alt="content" class="object-cover object-center h-full w-full" src="https://i.ibb.co/ChykmCq/Photo-1616908360855.png">
            </div>
            <div class="flex flex-col sm:flex-row mt-10">
              <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
                <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-800 text-gray-600">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                    <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                  </svg>
                </div>
                <div class="flex flex-col items-center text-center justify-center">
                  <h2 class="font-medium title-font mt-4 text-white text-lg">About Me</h2>
                  <div class="w-12 h-1 bg-yellow-500 rounded mt-2 mb-4"></div>
                  <p class="text-base text-gray-400">I am a Youtube Content Creator along with a Freelancer, Learning Web Developer and Cyber Security Enthusiast . My channel basically focuses on Cyber related things and providing you with quality tools for eductaional purposes for free.</p>
                </div>
              </div>
              <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-800 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
                <p class="leading-relaxed text-lg mb-4">With this website I am stepping back on Youtube after 3 years but this time with all the things being Ethical. For freelancing projects you can contact me on Instagram (@aaklon4809)</p>
                <a href="https://youtube.com/MahenjuWeb" class="text-yellow-400 inline-flex items-center">Check Out My Channel
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-500 mb-8" viewBox="0 0 975.036 975.036">
              <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
            </svg>
            <p class="leading-relaxed text-lg">This Site Aims to Provide You Free and Quality Tools and Services for Free. It takes lots and lots of hardwork to bring up all such data and maintain the website. This website will remain free always as a way of support to all the candidates. Make sure to leave your feedbacks as it will help me to enhance your user experience and make more changes for the site's betterment.</p>
            <span class="inline-block h-1 w-10 rounded bg-blue-500 mt-8 mb-6"></span>
            <h2 class="text-white font-medium title-font tracking-wider text-sm">ANKIT (aka Aaklon)</h2>
            <p class="text-gray-500">OWNER AND SOLE DEVELOPER (MAHENJU WEB)</p>
          </div>
        </div>
      </section>


<!--Footer container-->
<footer
  class="flex flex-col items-center bg-[#111827] text-center text-white">
  <div class="container px-6 pt-6">
    <!-- Social media icons container -->
    <div class="mb-6 flex justify-center space-x-2">
        <a href="https://instagram.com/">
        <span class="[&>svg]:h-7 [&>svg]:w-7 [&>svg]:fill-[#c13584]">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
              <path
                d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
            </svg>
          </span>
        </a>
          <a href="https://youtube.com/">
          <span class="[&>svg]:h-7 [&>svg]:w-7 [&>svg]:fill-[#ff0000]">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
              <path
                d="M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z" />
            </svg>
          </span>
          </a>
    </div>
  </div>

  <!--Copyright section-->
  <div class="w-full bg-black/5 p-4 text-center">
    © 2024 Copyright:
    <a href="https://mwaaklon.pythonanywhere.com/">Mahenju Web</a>
  </div>
</footer>
<script>
    import {
  Ripple,
  initTWE,
} from "tw-elements";

initTWE({ Ripple });
</script>
</body>
</html>
